@import '../common.scss';

.footer__menu-list {
  list-style-type: none;
  display: inline-flex;
}

.footer__menu-link, .footer__email {
  text-decoration: none;
  color: #fff;
}

.footer__menu__language {
  cursor: pointer;
}

.menu__language-img {
  height: 23px;
  margin-right: 3px;
}

.social-img {
  margin-right: 3px;
  height: 46px;
}
