@import '/src/styles/style.scss';

.page_header {
  @include h2Text;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;

}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
