@import '/src/styles/style.scss';

.vacancies {
  margin: 30px 150px;
  @include bodyText;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;

  &__vacancy{
    padding: 15px;
    background: white;
    @include bodyText;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
    border: 2px solid grey;
    &__name {
      @include h1Text;
    }
    &__salary{
      @include h3Text;
    }
    &__coord {
      @include h3Text;
      margin-top: 20px;
      opacity: 0.5;
    }
    &__description {
      margin-top: 20px;
      text-align: left;
    }
  }
}
