@font-face{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/montserrat/Montserrat-Regular.eot');
  src: url('/public/fonts/montserrat/Montserrat-Regular.svg') format('svg');
  src: url('/public/fonts/montserrat/Montserrat-Regular.woff') format('woff');
  src: url('/public/fonts/montserrat/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/public/fonts/montserrat/Montserrat-Medium.eot');
  src: url('/public/fonts/montserrat/Montserrat-Medium.svg') format('svg');
  src: url('/public/fonts/montserrat/Montserrat-Medium.woff') format('woff');
  src: url('/public/fonts/montserrat/Montserrat-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/montserrat/Montserrat-Bold.eot');
  src: url('/public/fonts/montserrat/Montserrat-Bold.svg') format('svg');
  src: url('/public/fonts/montserrat/Montserrat-Bold.woff') format('woff');
  src: url('/public/fonts/montserrat/Montserrat-Bold.ttf') format('truetype')
}
