.about__header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 58px;
  color: #4560F5;
}

.about__video-screen {
  width: 100%;
  height: 60vh;
}
