.team__teammate-link {
  text-decoration: none;
  color: #fff;
}

.team__background {
  height: 272px;
  background: #252677;
  border-radius: 5px;
}

.team__image {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
