@import "../../src/vars.scss";

.button {
  border-radius: 10px;
  padding: 6px 8px;
  min-width: 145px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid $main-color;
  }
  &:active {
    border: 2px solid $main-color;
  }

  &--blue {
    color: white;
    background: $main-color;
    border: 2px solid $main-color;
    &:hover {
      color: white;
    }
  }

  &--white {
    color: $main-color;
    border: 2px solid $main-color;
  }

  &--yellow {
    background: #FFC945;
    color: white;
    border: 2px solid #FFC945;
    &:hover {
      opacity: 0.8;
      border: 2px solid #FFC945;
    }
    &:active {
      border-color: white;
    }
  }
}


html, body {
  min-width: 300px;
  @include bodyText;
  //font-family: Montserrat, sans-serif !important;
}

h1 {
  @include h1Text;
}

h2 {
  @include h2Text;
}

h3 {
  @include h3Text;
}

//h4 {
//  @include h4Text;
//}

