@import '../common.scss';

.headerBlock {
  height: 75px;
}

.logo__img {
  height: 60px;
}

.menu__list-item {
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.menu__auth {
  margin-left: 40px;
}

@media (max-width: 992px) {
  .menu__auth {
    margin-left: 15px;
  }
}

.menu__link, .menu__language-text {
  color: #1C1D5D !important;
  font-weight: bold;
  //font-size: 30px;
}

.menu__language {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  padding-right: .5rem;
  padding-left: .5rem;
}

.menu__language-text {
  color: rgba(0,0,0,.55);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  padding: 0;
}

.menu__language-img {
  padding-right: 5px;
}
